<div class="edit-account-container">
  <div class="section-header">
    <h2 class="section-title text-center wow fadeInDown">{{ editMode ? 'Edit Profile' : 'Profile' }}</h2>
    <p class="text-center wow fadeInDown">{{ editMode ? 'Update your account details here. Make changes as needed.' : 'Manage your account details here. View and update your information as needed.' }}<br></p>
  </div>

  <div class="register-body">

    <form [formGroup]="updateForm" class="edit-form">
      <div class="form-group">
        <label for="firstname">First Name:</label>
        <input type="text" id="firstname" formControlName="firstname" class="form-control">
      </div>
      <div class="form-group">
        <label for="lastname">Last Name:</label>
        <input type="text" id="lastname" formControlName="lastname" class="form-control">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email" class="form-control" >
      </div>
      <div class="form-group">
        <label for="telephone">Telephone:</label>
        <input type="tel" id="telephone" formControlName="telephone" class="form-control">
      </div>
      <div class="form-group" *ngIf="editMode">
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password" class="form-control">
      </div>
      <div class="form-group" *ngIf="editMode">
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control">
      </div>
    </form>
    <div class="form-buttons">
      <button *ngIf="!editMode" type="button" class="btn btn-primary" (click)="toggleEditMode()">Edit Profile</button>
      <button *ngIf="editMode" type="button" class="btn btn-submit" (click)="saveChanges()">Save Changes</button>
      <button *ngIf="editMode" type="button" class="btn btn-danger" (click)="cancelChanges()">Cancel</button>
    </div>
  </div>
</div>
