<div class="map-container">
    <google-map height="400px" width="750px" [center]="center" [zoom]="zoom" (mapClick)="addMarker($event)">
      <!-- Trigger addMarker on map click -->
      <map-marker *ngIf="markerPosition" [position]="markerPosition" [options]="markerOptions"></map-marker>
    </google-map>
    <div *ngIf="markerPosition" class="position-display">
      <p>Latitude: {{ markerPosition.lat }}</p>
      <p>Longitude: {{ markerPosition.lng }}</p>
      <p>Address: {{ selectedAddress }}</p>
    </div>
  </div>
  