.action-buttons .button-container {
    display: flex;
    gap: 5px; /* Adjust as needed */
  }
  /* CSS pour les tooltips */
.btn[title]:hover::after {
  content: attr(title);
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 9999;
  /* ajustez la position du tooltip si nécessaire */
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.custom-info-btn {
    background-color: #0da7d6; /* Change this to your desired color */
    border-color: #0da7d6;
    color: white;
  }
  

  