<h2 class="form-title">Add car</h2>
<form [formGroup]="carForm" (ngSubmit)="onSubmit()" class="form-container">
    <div class="form-group">
      <label for="make">Make:</label>
      <input type="text" id="make" formControlName="make" class="form-control" (keyup.enter)="focusNext('model')" >
      <div *ngIf="carForm.get('make')?.invalid && carForm.get('make')?.touched" class="text-danger">
        Make is required.
      </div>
    </div>
  
    <div class="form-group">
      <label for="model">Model:</label>
      <input type="text" id="model" formControlName="model" class="form-control" (keyup.enter)="focusNext('registrationNumber')">
      <div *ngIf="carForm.get('model')?.invalid && carForm.get('model')?.touched" class="text-danger">
        Model is required.
      </div>
    </div>
  
    <div class="form-group">
      <label for="registrationNumber">registration Number (VIN):</label>
      <input type="text" id="registrationNumber" formControlName="registrationNumber" class="form-control" (keyup.enter)="focusNext('size')">
      <div *ngIf="carForm.get('registrationNumber')?.invalid && carForm.get('registrationNumber')?.touched" class="text-danger">
        registration Number is required.
      </div>
    </div>
  
    <div class="form-group">
      <label for="size">Size:</label>
      <select id="size" formControlName="size" class="form-control-select" >
        <option *ngFor="let size of sizes" [value]="size">{{ size }}</option>
      </select>
      <div *ngIf="carForm.get('size')?.invalid && carForm.get('size')?.touched" class="text-danger">
        Size is required.
      </div>
    </div>

  
    <button type="submit" class="btn btn-submit" [disabled]="carForm.invalid" >Create car</button>
  </form>
  