<header id="header">
    <nav class="navbar navbar-default navbar-fixed-top" role="banner">
            <div class="brand">
                <a  href="#"><img src="assets/images/logo1.png" alt="logo"></a>
            </div>
                <div class="menu-icon" (click)="toggleMenu()">
                    <span></span>
                    <span></span>
                    <span></span>
                 
                  </div>
                
                  <ul [class.active]="menuActive">
                    <li><a href="#" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
                  
                    <li >
                        <a routerLink="/station" routerLinkActive="active">Stations</a>
                    </li>
                    <li *ngIf="isUserLoggedIn()">
                        <a routerLink="/session" routerLinkActive="active">Reservation</a>
                    </li>

                    <li *ngIf="!isUserLoggedIn()">
                        <a routerLink="/authentication" routerLinkActive="active">Login</a>
                    </li>
                    <li *ngIf="isUserLoggedIn()">
                      <a routerLink="/car" routerLinkActive="active">Cars</a>
                  </li>
                    <li *ngIf="isUserLoggedIn()">
                      <a routerLink="/edit-account" routerLinkActive="active">Profile</a>
                    </li>
                    <li *ngIf="isUserLoggedIn()" class="dropdown">
                      <a class="dropdown-toggle" (click)="toggleProfileDropdown()">
                        <i class="fa fa-user-circle"></i> {{ user.firstname }} {{ user.lastname }}
                        <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu" *ngIf="showProfileDropdown">
                        
                        <li><a (click)="logout()">Logout</a></li>
                      </ul>
                    </li>
                </ul>       
        <!--/.container-->
    </nav><!--/nav-->
</header><!--/header-->

