<section id="main-slider">
    <div class="owl-carousel">
        <div class="item" style="background-image: url(assets/images/slider/bg4.jpg);">
            <div class="slider-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="carousel-content">
                                <h2>Clear <span>Car</span> Wash</h2> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.item-->
         <div class="item" style="background-image: url(assets/images/slider/bg5.png);">
            <div class="slider-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="carousel-content">
                                <h2>Best <span>Car</span> Servicing</h2> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.item-->
        <div class="item" style="background-image: url(assets/images/slider/bg2.jpg);">
            <div class="slider-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="carousel-content">
                                <h2>Clear <span>Car</span> Wash</h2> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.owl-carousel-->
</section><!--/#main-slider-->

<section id="services" >
        <div class="container">

            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Why Choose SpotWash?</h2>
                <p class="text-center wow fadeInDown">Discover how we make car washing fast, easy, and efficient for you.</p>
            </div>

            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-search"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Easy Station Search</h4>
                                <p>Quickly find nearby car wash stations and check real-time availability on an interactive map.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-clock-o"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Fast Booking</h4>
                                <p>Book your spot with a few clicks and receive notifications to never miss your wash turn.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Less Waiting Time</h4>
                                <p>Avoid queues with our dynamic management of customer flows at each station.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-clock-o"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Precise Estimates</h4>
                                <p>Get accurate estimates of wash time based on current station occupancy.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-cog"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Varied Choices</h4>
                                <p>Choose from a variety of wash types and tailor your preferences to suit your specific needs.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-bell"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Instant Notifications</h4>
                                <p>Stay informed with real-time notifications about your wash appointment and station availability.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                </div>
            </div><!--/.row-->    
        </div><!--/.container-->
    </section><!--/#services-->
   

 <section id="about">
        <div class="container">

            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">About Us</h2>
                <p class="text-center wow fadeInDown">Welcome to SpotWash, your convenient solution for reserving car wash stations. Our mission is to provide a seamless and hassle-free experience for car owners who want to keep their vehicles clean and shiny.</p>
            </div>

            <div class="row">
                <div class="col-sm-6 wow fadeInLeft">
                  <img class="img-responsive" src="assets/images/about.png" alt="">
                </div>

                <div class="col-sm-6 wow fadeInRight"> 
                    <p>  At SpotWash, we aim to revolutionize the car wash industry by offering a platform that connects car owners with reliable car wash stations.  </p>
                    <p>     Our goal is to save you time and effort by allowing you to book a car wash appointment at your convenience.</p>
                  
                    <ul>
                        <li>Browse available car wash stations in your area</li>
                        <li>Select a station that suits your needs</li>
                        <li>Book an appointment at a time that works for you</li>
                        <li>Show up at the station and get your car washed</li>
                      </ul>

                </div>
            </div>
        </div>
    </section><!--/#about-->


    <section id="pricing">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Car Wash Stations</h2>
                <p class="text-center wow fadeInDown">Discover car wash stations and find the one that suits your needs best.</p>

            </div>
              <!-- Search input
        <div class="row mb-3">
          <div class="col-md-6 offset-md-3">
            <div class="input-group input-group-sm">
              <input type="text" class="form-control" placeholder="Search stations by name" [(ngModel)]="searchQuery">
              <button class="btn btn-primary" type="button" (click)="searchStations()">
                <i class="fas fa-search"></i> Search
              </button>
            </div>
          </div>
        </div>
        <div class="row mb-3" *ngIf="notFound">
          <div class="col-md-6 offset-md-3">
            <div class="alert alert-info" role="alert">
              No stations found matching the search criteria.
            </div>
          </div>
        </div> -->
            <div class="colomn"> 
            <div  *ngFor="let station of carWashStations">
                <div class="col-md-4">     
                        <ul class="price" style="width:100%">
                        <li class="header">{{ station.name }}</li>
                        <li class="grey">{{ station.location }}</li>
                        <li>Today's Availability: {{ availabilityMap[station.id] !== undefined ? availabilityMap[station.id] : 'Loading...' }} places</li>
                       <!-- <li class="grey">Places:  {{station.currentCarsInWash}}  / {{ station.maxCapacityCars }}</li>-->
                        <li class="grey">
                          Services:
                          <ng-container *ngIf="station.estimateTypeExterior; else exteriorSpace">
                              <p class="card-text">Exterior</p>
                          </ng-container>
                          <ng-template #exteriorSpace><p class="card-text">&nbsp;</p></ng-template>
                      
                          <ng-container *ngIf="station.estimateTypeInterior; else interiorSpace">
                              <p class="card-text">Interior</p>
                          </ng-container>
                          <ng-template #interiorSpace><p class="card-text">&nbsp;</p></ng-template>
                      
                          <ng-container *ngIf="station.estimateTypeExteriorInterior; else exteriorInteriorSpace">
                              <p class="card-text">Interior & Exterior</p>
                          </ng-container>
                          <ng-template #exteriorInteriorSpace><p class="card-text">&nbsp;</p></ng-template>
                      </li>
                        <li>       
                          <button class="btn btn-primary btn-add-car" style="border-radius: 5px;" (click)="reservation(station)">
                          To book
                          </button>
                    </li>
                        </ul>
                </div>        
            </div>        
            </div>
        </div>
      </section>

 
      <section id="portfolio">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Gallery</h2> 
                <p class="text-center wow fadeInDown">Immerse yourself in our gallery showcasing the artistry of car detailing.<br>Witness excellence in every detail.</p>
            </div>
    
            <div class="text-center">
                <ul class="portfolio-filter">
                    <li><a class="active" href="#" data-filter="*">Show All</a></li>
                    <li><a href="#" data-filter=".designing">Exterior</a></li>
                    <li><a href="#" data-filter=".mobile">Interior</a></li> 
                </ul><!--/#portfolio-filter-->
            </div>
    
            <div class="portfolio-items">
                <div class="portfolio-item designing">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="assets/images/home/Auto-Detailing-Products.jpg" alt="">
                        <div class="portfolio-info">
                            <a class="preview" href="assets/images/home/Auto-Detailing-Products.jpg" rel="prettyPhoto"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
    
                <div class="portfolio-item mobile development">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="assets/images/home/auto-nettoyage7.jpg" alt="">
                        <div class="portfolio-info">
                            <a class="preview" href="assets/images/home/auto-nettoyage7.jpg" rel="prettyPhoto"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
    
                <div class="portfolio-item designing">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="assets/images/home/carwash-cora-24052313143280.jpg" alt="">
                        <div class="portfolio-info">
                            <a class="preview" href="assets/images/home/carwash-cora-24052313143280.jpg" rel="prettyPhoto"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
    
                <div class="portfolio-item mobile">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="assets/images/home/Fotolia_163587583_Subscription_Monthly_M.jpg" alt="">
                        <div class="portfolio-info">
                            <a class="preview" href="assets/images/home/Fotolia_163587583_Subscription_Monthly_M.jpg" rel="prettyPhoto"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
    
                <div class="portfolio-item designing development">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="assets/images/home/Sunrise-blog-8-April.jpg" alt="">
                        <div class="portfolio-info">
                            <a class="preview" href="assets/images/home/Sunrise-blog-8-April.jpg" rel="prettyPhoto"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
    
                <div class="portfolio-item mobile">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="assets/images/home/Interior Car Detailing Service _ Car Cleaning-min.jpeg" alt="">
                        <div class="portfolio-info">
                            <a class="preview" href="assets/images/home/Interior Car Detailing Service _ Car Cleaning-min.jpeg" rel="prettyPhoto"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
    
                <div class="portfolio-item designing development">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="assets/images/home/unnamed.jpg" alt="">
                        <div class="portfolio-info">
                            <a class="preview" href="assets/images/home/unnamed.jpg" rel="prettyPhoto"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
    
                <div class="portfolio-item mobile">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="assets/images/home/intern.png" alt="">
                        <div class="portfolio-info">
                            <a class="preview" href="assets/images/home/intern.png" rel="prettyPhoto"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
            </div>
        </div><!--/.container-->
    </section><!--/#portfolio-->
    
   
   
   